body {
}

header {
    background-color: grey;
    height: 89px;
    margin-left: 110px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 110px;
}

.dic {
    height: 600px;
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
}

.ninja {
    background-color: white;
    width: 500px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;
}

.lower {
    background-color: white;
    width: 500px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;
}

.definition {
    display: flex;
}

.ninjatoo {
}

span {
    background-color: orange;
}

.container {
    display: flex;
    justify-content: space-around;
}

.Dojo {
    width: 100px;
    height: 100px;
}

.left {
    height: 250px;
    width: 400px;
    margin-right: 144px;
    margin-top: 30px;
    display: flex;
}

.dictoo {
    border: 2px solid black;
    padding-left: 20px;
    margin-right: 33px;
    height: 160px;
}

textarea {
    width: 30px;
    height: 33px;
}

.title {
    margin-left: 30px;
}

#search {
    width: 320px;
    height: 22px;
    margin-top: 24px;
}

.button2 {
    color: black;
    background-color: orange;

    margin-left: 20px;
}

.button3 {
    background-color: rgb(32, 165, 32);
    box-shadow: 2px black;
    margin-left: 12px;
    margin-right: 12px;

    width: 333px;
}

.buttonone {
    background-color: blue;
    color: white;
    margin-top: 24px;
    height: 28px;
    width: 80px;
}

p {
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
}

h3 {
    margin-left: 40px;
}

.right {
    margin-left: 30px;
}
